#parent{
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
#container{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  gap: 125px;
  margin-top: 43px;
}
#bar{
  width: 100%;
  
  display: flex;
  justify-content: space-around;
  
}
#bar_list{
  display: flex;
  justify-content: center;
  gap: 48px;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  list-style: none;
  text-decoration: none;
  border: none;
  color: #434343;
}
#links{
  text-decoration: none;
  color: #434343;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

#bar_img{
  width: 233px;
  height: 36px;
}
#connect{
  width: 170px;
  height: 48px;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
}
#main{
  display: flex;
  align-items: center;
  width: 84%;
  background-color:  linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);;
  gap: 99px;
  justify-content: center;
  
  }
#main_sub{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  width: 52%; 
  
}

#h{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #434343;
  margin: 0px;
  letter-spacing: -0.02em;
  flex: none;
  order: 0;
  max-width: 646px;
}
#text_color{
  color: #A02279;
}
#welcome{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #434343;
  width: 99%;
  margin: 0px;
  max-width: 636px;
  
}
#searchbar{
  width: 98%;
  height: 54px;
  display: flex;
  background-color: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
  border-radius: 999px;  
}
form{
  display: flex;
  border-radius: 10px;
  width: 98%;
  background-color: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
  }
#form1{
  width: 98%;
}
#btn{
  width: 37%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
  border-radius: 0px 8px 8px 0px;
  border: none;
  color: #FFFFFF;

}
#searchicon{
  width: 37%;
  height: 54px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #47b74b;
}
#input{
  width: 63%;
}
#main_diagrams{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39%;
  background-color:  linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);;
  flex-direction: row;
  gap: 8px;
  height: 459px;
}
#img1{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 234px;
  height: 459px;
  gap: 8px;
  background-color: #FFFFFF;
}
#img2{
  width: 234px;
  padding-bottom: 99px;
}
#meta_logo1{
  width:234px;
  height: 176px;
  top: 99px;
}
#metamask_bar{
  display: flex;
  width: 94%;
  margin-top: 67px;
  background:linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  justify-content: space-around;
  align-items: center;
}
                
#MBcoin{
  display: flex;
  width:222px;
  height: 50px;
  font-family: 'AirbnbCereal_W_Bd';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #F7F7F7;
  
}
#opensea_logo{
  width: 198px;
  height: 40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 96%;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
#container2{
  display: flex;
  flex-direction: column;
  
  background: #FFFFFF;
  align-items: center;
  justify-content: center;
  margin-top: 0%;  
}
#header2_text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86%;
  height: 50px;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
  margin-top: 39px;
  
}
#desert_img{
  height: 265px;
  width: 260px;
}
#images_desert{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  place-items: center;
  margin-top: 43px;
  gap: 24px;
  margin-bottom: 53px;
}
#desert-img_details{
  display: flex;
  flex-direction: column;
  width: 255px;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #434343;
}
#d1{
  display: flex;
  justify-content: space-between;
}
#d2{
  display: flex;
  justify-content: space-between;
}
#container3{
  width: 100%;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border: 1px solid #000000;
}
#conatiner3_main{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 3%;
}
#container3_main1{
  display: flex;
  justify-items: center;
  flex-direction: column;
  margin-top: 186px;
}
#container3_main1>h3{
  height: 60px;
  width: 346px;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 700px;
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
}
#main1_note{
  width: 415px;
  height: 136px;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
}
#main1_learn{
  width: 156px;
  height: 48px;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 57px;
  color: #A02279;
  
}
#nft_logo{
  height: 574px;
  width: 704px;
  margin-bottom: 112px;
  margin-top: 87px;
}
footer{
  width: 100%;
  background: #1D1D1E;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12%;
}
#footer1{
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12%;
  width: 84%;
  max-width: 1240px;
  margin-bottom: 50px;
}
#foot1{
  display: flex;
  flex-direction: column;
    
}
#foot1_meta{
  display: flex;
  margin-top: 58px;
  height: 40px;
  width: 214px;
  justify-content: center;
  align-items: center;
}
#socialmedia{
  margin-top: 96px;
  display: flex;
  gap: 33px;  
}
#copywright{
  margin-top: 55px;
  margin-bottom: 37px;
  display: flex;
  gap: 8px;
}
#foot2{
  width: 48%;
  height: 169px;
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}
#foot2_list{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
 color: #FFFFFF;
}

#community{
  display: flex;
  flex-direction: column;
  gap: 16px;  
}
#places{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#about{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#ul_items{
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  color: #F1F3F9;
}
#m1{
  display: flex;
  width: 156px;
  height: 44px;
  justify-content: center;
  align-items: center;
}
#parent2{
  width: 100vw;
  height: 100%;
  margin-top: 0%;
  display: flex;

}
#container4{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 100%;  
  align-items: center;
  justify-content: center;
}

#folder{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 43px;
  gap: 126px;
  
}
#fold{
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 0%;
}
#folder2{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 92px;
 
}  
#header4_text{
  display: flex;
  max-width: 1177px;
  width: 82%;
  list-style: none;
  align-items: center;
  gap: 65px;
    
}
#ul_items4{
  list-style: none;
  display: flex;
  
  width: 78%;
  padding-left: 0%;
  gap: 4%;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #434343;
  
}
#header_location{
  width: 161px;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  border: 1px solid #B4B4B4;
  border-radius: 8px;
}
#settings{
  width:24px;
  height: 24px;
}
#images_desert2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 24px;
  margin-top: 76px;

}
#overlay{
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  background: rgba(64, 64, 64, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;

}
#modal{
  width: 50%;
  height: 326px;
  background: white;
  border-radius: 16px;
  
}
#modalHead{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  
}
#innermodalHead{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 78px;
  width: 89%;
  border-bottom: 1px solid #CFD8DC;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  flex: none;
  order: 0;
  flex-grow: 0;
  
}
#closeModal{
  width: 24px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  display: flex;  
}
#modalLinks{
  width: 100%;
  height: 248px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#metawallet{
  width: 89%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#modalMetamask{
  width: 100%;
   height: 68px;
   background: #F8F9FA;
   border: 1px solid #CFD8DC;
   border-radius: 12px;
   display: flex;
   align-items: center;
   gap: 16px;
   flex: none;
   order: 1;
   flex-grow: 0;
   font-family: 'Sora';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 23px;
   color: #000000;
}
#metawallet>p{
  margin: 0;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  flex: none;
  order: 0;
  flex-grow: 0;
}
#metamaskImg{width: 44px; height: 44px;padding-left: 20px;}
#walletConnectImg{width: 40px; height: 40px; padding-left: 20px;}
#walletConnect{
  width: 100%;
  height: 68px;
  background: #F8F9FA;
  border: 1px solid #CFD8DC;
  border-radius: 12px;
  display: flex;
  gap: 16px;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
.arrowRight{
  border: solid #959DA6;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);  
}
.metamaskArrow{margin-left: 55.5%;}
.walletArrow{margin-left: 49%;}
#dnav{
  width: 100%;
  height: 100%;
  display: flex;
  
}@media screen and (max-width:1200px){
  #ul_items4{font-size: 20px; font-weight: 400px;}
  #nft_logo{width:400px;} 
  
  #images_desert2,#images_desert{grid-template-columns: 1fr 1fr 1fr;} 

}

@media screen and (max-width:1024px) {
  #images_desert2,#images_desert{grid-template-columns: 1fr 1fr 1fr;} 
  #bar_list{gap:35px} #desert_img{width: 220px; height: 245px;}
  #ul_items4{font-size: 16px; font-weight: 400px;}
  #main,#conatiner3_main{flex-direction: column; align-items: center; justify-content: center; width: 100%;}
  #main_diagrams{width: 100%; display: flex; align-items: center;justify-content: center;}
  #header2_text{font-size: 24px;}
  #container3_main1{display: flex; margin-top: 0px;}
  #nft_logo{width: 600px; height: 510px;}
  .metamaskArrow{margin-left: 40px; height: 5px; width: 5px;}
  .walletArrow{margin-left: 10px; height: 5px; width: 5px;} 
  
}
@media screen and (max-width:768px) {
  #bar{flex-direction: column; justify-content: center; align-items: center;}
  #bar_list{gap:35px} #folder{display: flex; gap: 60px;}  
  #nft_logo{width: 480px; height: 400px;}
  #images_desert2,#images_desert{grid-template-columns: 1fr 1fr;} 
  #header4_text{flex-direction: column;align-items: center;gap: 10px;}
  #footer1,#conatiner3_main{flex-direction: column; align-items:center; width: 100%;}
  #metamask_bar{flex-direction: column; align-items:center;justify-content: center; width: 100%; gap: 10px;}
  #foot2,#foot1{display: flex; justify-content: center; align-items: center; width: 100%;} 
  #header2_text{font-size: 16px;} #container3_main1{display: flex; margin-top: 90px;}
  #ul_items4{width:100%; font-size: 14px;} #metawallet{margin-left: 20px;}
  #walletConnect{font-size: 18px;}
  #modal{width: 70%;}
  .metamaskArrow{margin-left: 25px; height: 5px; width: 5px;}
  .walletArrow{margin-left: 3px; height: 5px; width: 5px;} 
  #community{display: flex; margin-right: 10px;}

}

@media screen and (max-width: 480px){
  #images_desert2,#images_desert{grid-template-columns: 1fr;}
  #ul_items4{display: grid; grid-template-columns: 1fr 1fr; place-items: center; gap: 10px;
  font-size: 16px;} #bar_list{display: flex; justify-content: center; flex-direction: column; gap: 10px;} 
  #bar{margin-top: 30px;} #h{font-size: 32px;} #welcome{font-size: 16px;}
  #walletConnect{font-size: 14px;} 
  #metawallet{margin: 0;}
  #modal{width: 80%;}
  .metamaskArrow{margin-left: 5px;}
  .walletArrow{margin-left: 0px;}  
  #header4_text{display: grid; place-items: center; gap:10px}
  #main_diagrams{flex-direction: column; height: 750px;} #header2_text{font-size: 10px;}
  #container3_main1>h3{width: 100%; font-size: 32px;} #nft_logo{width: 300px; height: 280px;}
  #main1_note{width: 320px;} 
  #img1,#img2{width: 200px;}
  #foot2{width: 100%; margin-right: 0px;} 
  #community{display: flex; margin-right: 10px;} 
  #connect{width:60%}
  
  
}
#desert_con{
  border: 1px solid #D7D7D7;
  border-radius: 15px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;

}
#desert_img{
  margin: 16px 16px 0px 16px;
  height: 265px;
  width: 260px;
}